@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

@theme {
  /* تخصيص الألوان */
  --color-primary: #003366; /* الأزرق الداكن الأساسي */
  --color-secondary: #008080; /* التركواز الثانوي */
  --color-accent: #d4af37; /* الذهبي للتنبيهات واللمسات */

  /* تخصيص الخطوط */
  --font-cairo: 'Cairo', sans-serif;
}

body {
    font-family: var(--font-cairo);
}